.main-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #72d6ed6c;
  border: 1px solid #e0dede99;
  border-radius:  1rem;
  padding: 3.5rem;
  min-height: 25rem;
  position: relative;
  transition-duration: 0.3s;
}

.main-card:hover{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

}